<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SYEMFIT - Gestão de Usuários</title>
</head>
<body>

<div style="background-color: #222; padding: 10px;">
  <a href='/' style='margin-right: 10px; color: #fff;'>Início</a>
  <a href='/cadastro' style='margin-right: 10px; color: #fff;'>Cadastro</a>
  <a href='/assinaturas' style='margin-right: 10px; color: #fff;'>Assinaturas</a>
  <a href='/financeiro' style='margin-right: 10px; color: #fff;'>Financeiro</a>
  <a href='/acesso' style='margin-right: 10px; color: #fff;'>Acesso</a>
  <a href='/agendamentos' style='margin-right: 10px; color: #fff;'>Agendamentos</a>
  <a href='/relatorios' style='margin-right: 10px; color: #fff;'>Relatórios</a>
  <a href='/backup' style='margin-right: 10px; color: #fff;'>Backup</a>
  <a href='/usuarios' style='margin-right: 10px; color: #fff;'>Usuários</a>
  <a href='/configuracoes' style='margin-right: 10px; color: #fff;'>Configurações</a>
  <a href='/integracoes' style='margin-right: 10px; color: #fff;'>Integrações</a>
</div>

    <div style="padding: 20px;">
        <h1>Gestão de Usuários</h1>
        <p>Conteúdo da página usuarios.html</p>
    </div>
</body>
</html>
